[submodule "External/ObjectiveMixin"]
	path = External/ObjectiveMixin
	url = git@github.com:mz2/ObjectiveMixin.git
[submodule "External/UICKeyChainStore"]
	path = External/UICKeyChainStore
	url = git@github.com:kishikawakatsumi/UICKeyChainStore.git
[submodule "External/NSBundle-OBCodeSigningInfo"]
	path = External/NSBundle-OBCodeSigningInfo
	url = git@github.com:mpapp/NSBundle-OBCodeSigningInfo.git
[submodule "External/ClangKit"]
	path = External/ClangKit
	url = git@github.com:mz2/ClangKit.git
[submodule "External/google-diff-match-patch-Objective-C"]
	path = External/google-diff-match-patch-Objective-C
	url = git@github.com:mpapp/google-diff-match-patch-Objective-C.git
