[submodule "External/ObjectiveMixin"]
	path = External/ObjectiveMixin
	url = git@github.com:mz2/ObjectiveMixin.git
[submodule "External/JSONKit"]
	path = External/JSONKit
	url = git@github.com:mz2/JSONKit.git
[submodule "External/UICKeyChainStore"]
	path = External/UICKeyChainStore
	url = git@github.com:kishikawakatsumi/UICKeyChainStore.git
[submodule "External/couchbase-lite-ios"]
	path = External/couchbase-lite-ios
	url = git@github.com:mz2/couchbase-lite-ios.git
[submodule "External/google-diff-match-patch"]
	path = External/google-diff-match-patch
	url = git@github.com:mz2/google-diff-match-patch.git
