github "mpapp/RegexKitLite" "master"
github "mz2/couchbase-lite-ios" "master"
github "mpapp/google-diff-match-patch-Objective-C" "master"
github "mpapp/P2Core" "master"
github "mz2/MPRateLimiter" "master"
github "mpapp/MPTimer" "master"
github "mz2/Freddy" "master"
