github "mpapp/RegexKitLite" "master"
github "mz2/couchbase-lite-ios" "master"
github "mpapp/google-diff-match-patch-Objective-C" "master"
github "mpapp/P2Core" "master"
github "mz2/MPRateLimiter" "1.0"
github "mpapp/MPTimer" "1.0"
github "bignerdranch/Freddy" "3.0.2"
github "mz2/MAKVONotificationCenter" "master"
